.centerBox{
    margin:40px auto;
    width:450px;
    border:1px solid #CCC;
    padding:10px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 2px 2px #648094;
    -webkit-box-shadow: 0 0 2px 2px#648094;
    box-shadow: 0 0 2px 2px #648094;
}


@media screen and (max-width: 500px) {
    .centerBox{
        margin:40px auto;
        width:90%;
    }
}