<div class="container MT20">
  <div class="row">

    <div class="centerBox">
      <h3 class="text-center">Login Panel</h3>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" placeholder="Enter username" [(ngModel)]="loginModel.loginName">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginModel.password">
      </div>
      
      <button type="submit" (click)="login();" class="btn btn-primary">Submit</button>

    </div>

  </div>
</div>