<div class="container">
   
    <div class="row justify-content-center">
      <div class="col-10">

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">PINNO</th>
                <th scope="col">Total Distance</th>
                <th scope="col">Total Seconds</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let resp of responseList;let i=index;">
                <th scope="row">{{i+1}}</th>
                <td>{{resp.pinno}}</td>
                <td>{{resp.totalDistance}}</td>
                <td>{{resp.totalSeconds}}</td>
              </tr>
              
            </tbody>
          </table>
                  
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="mbarChartLabels"
                        [options]="barChartOptions"
                        [chartType]="barChartType"
                        ></canvas>
              </div>
            
            </div>
            
    </div>
   
  </div>

  <div>
  
  
  </div>
